<div>
    <input type="text" 
        placeholder="Spotify Suche"
        data-bind="ojComponent: {
                component: 'ojInputText',
                value: query
            }"/>
    <button id= "button"
            data-bind=" click: search,
                        ojComponent: {
                            component: 'ojButton',
                            label: 'Suche'
                        }"></button>
    <p id="last" class="bold">Query results:</p> 
    <textarea id="results" data-bind='text: results'></textarea>
</div>